@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Poppins&display=swap");



* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#custom-header {
  height: 75px;
  font-family: "Lobster", cursive;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
}

#title-h1 {
  font-size: 40px;
  font-family: "Lobster", cursive;
}
#title-h5 {
  margin-top: -10px;
}
#link-home{
  text-decoration: none;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/guitar.jpg");
  background-size: contain;
  background-size: cover;
  height: 90vh;
  width: 100vw;
}



form {
  width: 90%;
  background-color: rgb(233, 245, 69);
  height: 500px;
  padding: 10px;
  border-radius: 5px;

  
}

form label {
  color: black;
  font-family: "Orelega One", cursive;
  font-size: 20px;
}

#submit{
  background-color: white;
  color:black;
  border:2px solid black;
  font-family: "Orelega One", cursive;
  box-shadow: 0px 2px 3px rgb(194, 193, 193);
  margin:0 auto;
}


/*-------------------footer---------------------------*/
footer {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Orelega One", cursive;
 
}
#copyright {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;

}

#footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color:black;

}
#footer-menu p {
  margin-left: 3px;
  margin-top:10px;
}

