@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Poppins&display=swap");
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

header {
  height: 75px;
  font-family: "Lobster", cursive;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white !important;
}

header h1 {
  font-size: 40px;
}
header h5 {
  margin-top: -30px;
}

#guitar-title {
  font-family: "Orelega One", cursive;
  border-bottom: 4px solid rgb(233, 245, 69);
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--------------------*/

#guitar-card-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  border: none;
}

.guitar-card {
  height: 450px;
  width: 260px;
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border: 4px solid rgb(240, 237, 237);
  border-radius: 5px;
}

.guitar-photos {
  height: 80%;
  width: 100%;
}
.info-section {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  text-align: center;
  font-family: "Orelega One", cursive;

  border-top: none;
}

.guitar-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50%;
  border-bottom: 1px solid rgb(216, 215, 215);
}
.guitar-price {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;

  height: 50%;
}

.search-icon {
  height: 25px;
  width: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

.guitar-price p {
  margin-left: 10px;
}

/*-----------enlarged card-----------*/
#enlarged-card {
  height: 100%;
  width: 90%;
  max-width:650px;
  border:2px solid rgb(240, 236, 236);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius:10px;
  padding:5px;



}
#enlarged-card h4{
  font-family: "Orelega One", cursive;

}

#enlarged-card h3{
  color:red;

}
#enlarged-card span{
  

  font-weight: bold;
}
#closer-container{

  display:flex;
  justify-content: flex-end;
  align-items: center;
  width:100%;
}
#enlarged-card-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}
#enlarged-title{
  font-family: "Orelega One", cursive;

}

#enlarged-image {
  height: 70vh;
  width: 100%;
}
#close {
  height: 15px;
  width: 15px;
  margin-top:10px;
  margin-right:10px;
  
}
.action-button {
  height: 60px;
  width: 270px;
  background-color: rgb(233, 245, 69);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-family: "Orelega One", cursive;
  box-shadow: 0px 2px 3px rgb(194, 193, 193);
  color: black;
  margin-top: 60px;
}

.action-button h2 {
  font-size: 25px;
}
#guitar-icon {
  height: 35px;
  width: 35px;
  margin-bottom: 5px;
}
/*-------------------footer---------------------------*/
footer {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Orelega One", cursive;
  margin-top: 50px;
}
#copyright {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-menu {
  display: flex;
  flex-direction: row;
  width: 60%;

  justify-content: center;
  align-items: center;
}
#footer-menu p {
  margin-left: 3px;
}

@media screen and (min-width:650px){
  #enlarged-card {
    height: 100%;
    width: 90%;
    
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
  }
  #closer-container{
  
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
  }
  #enlarged-card-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
  }
  #enlarged-title{
    font-family: "Orelega One", cursive;
  
  }
  
  #enlarged-image {
    height: 90vh;
    width: 100%;
  }
  #close {
    height: 15px;
    width: 15px;
    
  }

  /*--------------footer*---------*/
  footer {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: "Orelega One", cursive;
    margin-top: 180px;
  }
  #copyright {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #footer-menu {
    display: flex;
    flex-direction: row;
    width: 60%;
  
    justify-content: center;
    align-items: center;
  }
  #footer-menu p {
    margin-left: 3px;
  }

}
@media screen and (min-width: 1200px) {
  #guitar-card-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    border-right: 2px solid rgb(233, 245, 69);
    border-left: 2px solid rgb(233, 245, 69);
    border-top: none;
    border-bottom: none;
    width: 100%;
  }
  .guitar-card {
    margin: 40px;
  }
}
