@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Poppins&display=swap");
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  height: 75px;
  font-family: "Lobster", cursive;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 40px;
}
header h5 {
  margin-top: -30px;
}

#image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/guitar.jpg");
  background-size: contain;
  background-size: cover;
  height: 90vh;
  width: 100vw;
}

.action-button {
  height: 60px;
  width: 270px;
  background-color: rgb(233, 245, 69);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Orelega One", cursive;
  box-shadow: 0px 2px 3px rgb(194, 193, 193);
  color: black;
  margin-top: 30px;
}
.action-button h2 {
  font-size: 35px;
}

#how-it-works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Orelega One", cursive;
  width: 100%;
}
#how-it-works-title {
  font-size: 45px;
  font-family: "Orelega One", cursive;
  text-align: center;
}

.guitar-icon {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}
#how-it-works p {
  width: 95%;
  text-align: center;
}
.arrow-icon {
  height: 150px;
  width: 150px;
  display: none;
}
.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.steps h3 {
  border-bottom: 4px solid rgb(233, 245, 69);
  font-size: 30px;
}
.how-it-works-img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-top: 20px;
}

/*statement section*/
#statement {
  height: 300px;
  width: 100%;
  background-color: rgb(233, 245, 69);
  font-family: "Orelega One", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

blockquote {
  font-size: 50px;
  width: 70%;
}
#statement p {
  margin-top: -30px;
}

/*footer*/
footer {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Orelega One", cursive;
}
#copyright {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-menu {
  display: flex;
  flex-direction: row;
  width: 50%;
}
#footer-menu p {
  margin-left: 3px;
}
@media screen and (min-width: 1200px) {
  #how-it-works {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }

  header {
    height: 100px;
    font-family: "Lobster", cursive;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header h1 {
    font-size: 50px;
  }
  header h5 {
    margin-top: -30px;
    font-size: 20px;
  }

  .steps {
    width: 30%;
  }

  .arrow-icon {
    display: block;
  }

  #how-it-works p {
    width: 50%;
  }
}
