@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Poppins&display=swap");
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  height: 100px;
  font-family: "Lobster", cursive;
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  
}
a {
  text-decoration: none;
  color: black;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin:0 auto;


}
#icon-holder{

justify-self: start;
display:flex;
margin-left:20px;
border:1px solid black;
}
header h1 {
  font-size: 40px;
}
header h5 {
  margin-top: -30px;
}

#image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/guitar.jpg");
  background-size: contain;
  background-size: cover;
  height: 90vh;
  width: 100vw;
}
a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.action-button {
  height: 60px;
  width: 270px;
  background-color: rgb(233, 245, 69);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-family: "Orelega One", cursive;
  box-shadow: 0px 2px 3px rgb(194, 193, 193);
  color: black;
  margin-top: 60px;
}

.action-button h2 {
  font-size: 35px;
}

#how-it-works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Orelega One", cursive;
  width: 100%;
}
#how-it-works-title {
  font-size: 45px;
  font-family: "Orelega One", cursive;
  text-align: center;
}

#how-it-works p {
  width: 95%;
  text-align: center;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.steps h3 {
  border-bottom: 4px solid rgb(233, 245, 69);
  font-size: 30px;
}

#guitar-action-button {
  height: 30px;
  width: 120px;
  background-color: blue;
  font-family: "Orelega One", cursive;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 1px grey;
}

/*-------------------------statement section--------------------------*/
#statement {
  height: 300px;
  width: 100%;
  background-color: rgb(233, 245, 69);
  font-family: "Orelega One", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

blockquote {
  font-size: 40px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#statement p {
  margin-top: 30px;
  font-size: 20px;
}

/*-------------------footer---------------------------*/
footer {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Orelega One", cursive;
}
#copyright {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-menu {
  display: flex;
  flex-direction: row;
  width: 60%;

  justify-content: center;
  align-items: center;
}
#footer-menu p {
  margin-left: 3px;
}

/* ---------------icons and images-------------- */

.how-it-works-img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-top: 20px;
}

.arrow-icon {
  height: 150px;
  width: 150px;
  display: none;
}

#guitar-icon {
  height: 35px;
  width: 35px;
  margin-bottom: 5px;
}

.social-icons{
  height:30px;
  width:30px;
  opacity:0.5;
  margin:10px;


}

/*----------------------------media quieres ----------------------------------------------*/

@media screen and (min-width: 1200px) {
  #how-it-works {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }

  header {
    height: 100px;
    font-family: "Lobster", cursive;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: black;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin:0 auto;

  }
#icon-holder{

justify-self: start;
display:flex;
margin-left:20px;
}

  header h1 {
    font-size: 50px;
  }
  header h5 {
    margin-top: -30px;
    font-size: 20px;
  }

  .steps {
    width: 30%;
  }

  .arrow-icon {
    display: block;
  }

  #how-it-works p {
    width: 50%;
  }
}

/*-----big desktop ---------*/

@media screen and (min-width: 1700px) {
  #how-it-works {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }

  header {
    height: 100px;
    font-family: "Lobster", cursive;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: black;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin:0 auto;

  }
#icon-holder{

justify-self: start;
display:flex;
margin-left:20px;
}
  header h1 {
    font-size: 50px;
  }
  header h5 {
    margin-top: -30px;
    font-size: 20px;
  }

  .steps {
    width: 25%;
  }

  .arrow-icon {
    display: none;
  }

  #how-it-works p {
    width: 50%;
  }
}
